
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div id="login">
  <h1>Welcome Back!</h1>

  <form  action="/Abc/welcome" method="post" >

    <div class="field-wrap">
      <label>
        Email Address<span class="req">*</span>
      </label>
      <input type="email"  name="email" id="email"  required autocomplete="off"/>
    </div>

    <div class="field-wrap">
      <label>
        Password<span class="req">*</span>
      </label>
      <input type="password" name="password" id="password"   required autocomplete="off"/>
    </div>

    <p class="forgot"><a href="#">Forgot Password?</a></p>

    <button class="button button-block">Log In</button>
  </form>
</div>
</body>>
</html>>